.MyModal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.MyModalContent {
  padding: 20px;
  min-width: 250px;
  background: white;
  border-radius: 16px;
}

.MyModal.active {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
